<div>
  <div class="div-filtro">

  </div>
  <div class="div-tabla">
    <table class="table table-condensed">
      <tbody>
        <tr class="titulo-tabla">
          <th>No</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Permisos</th>
          <th>Editar</th>
          <th>
            <button mat-button>
              <mat-icon svgIcon='plus' (click)="openAddEditComponent('Crear Rol')"></mat-icon>
            </button>
          </th>
        </tr>
        <tr *ngFor="let rol of roles">
          <th>{{roles.indexOf(rol)+1}}</th>
          <td>{{rol.nombre}}</td>
          <td>{{rol.descripcion}}</td>
          <td>
            <p *ngFor="let permiso of rol.permisos">
              {{permiso.nombre}}
            </p>
          </td>
          <td>
            <button mat-button>
              <mat-icon svgIcon='edit'></mat-icon>
            </button>
          </td>
          <td>
            <button mat-button (click)="eliminarRol(rol.rolId)">
              <mat-icon svgIcon='delete'></mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>